*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
    
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 50%;
    /* height: 300px; */
    position: static;
    float: left;
    margin: 20px;
    padding: 20px;
}

.container2{
    width: 50%;
    /* height: 300px; */
    position: static;
    float: left;
    margin: 20px;
    padding: 20px;
    background-color: bisque;
    align-items: center;
}
.container3{
    width: 50%;
    /* height: 300px; */
    position: static;
    float: left;
    margin: 20px;
    padding: 20px;
}

.container4{
    width: 40%;
    /* height: 300px; */
    position: static;
    float: right;
}

h1{
    text-align: center;
    font-size: 46px;
}
#canvas{
    width: 100%
}

#canvas2{
    width: 100%
}

#canvas3{
    width: 100%;
}

#canvas4{
    width: 100%;
}
